@page
@using CommonUtils

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderAndFilter</title>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="order-filter.js"></script>
</head>
<body>
    <style type="text/css">
        td {
            width: 100px;
            border: solid 3px black;
        }
    </style>
    <table class="order-filter">
        <tr>
            <td>T0</td>
            <td>T1</td>
            <td>T2</td>
            <td>T3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
        </tr>
    </table>
</body>
</html>
