@page

<!DOCTYPE html>

<html>
<head>
    @Html.Raw(CommonUtils.HtmlUtil.RelocalMeta("/WebSocketClient"))
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>hello 3.0</h1>
    <pre> 
    <a href="/swagger">swagger</a>
    <a href="/CrossDomainCheck">CrossDomainCheck</a>
    <a href="/AutoForm">AutoForm</a>
    <a href="/Code">Code</a>
    <a href="/Cover">Cover</a>
    <a href="/LayoutDemo">LayoutDemo</a>
    <a href="/MiddleAndCenter">MiddleAndCenter</a>
    <a href="/OrderAndFilter">OrderAndFilter</a>
    <a href="/Repeater">Repeater</a>
    <a href="/View">View</a>
    <a href="/ShowIp">ShowIp</a>
    <a href="/WebSocketClient">WebSocketClient</a>
    </pre>
</body>
</html>
