@page

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowIp</title>
</head>
<body>
    @Request.Host.Host
    :
    @Request.Host.Port
</body>
</html>
